body {
    background-color: lightcoral;
  }
  
  h1 {
    color: palevioletred;
    text-align: center;
  }
  
  h2 {
    font-family: verdana;
    font-size: 11px;
  }

 p {
  font-family: verdana;
  font-size: 11px;
}
